%h1 Algemene gegevens
= f.label :naam
= f.text_field :name, "data-original-title" => "Bijv. Kegel van Kronos-Uros"

= f.label :geslacht
= collection_select(:registration, :sex_id, Sex.all, :id, :name)