%h3
  =event.name
  =event.sex.name.downcase + "#{event.sex.name == "Man" ? "nen" : "en"}"
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th naam
      %th vereniging
      %th geboortedatum
      %th beste prestatie
  %tbody
    - event.event_participations.each do |partic|
      %tr
        %td=partic.entry.name
        -if partic.entry.club
          %td=partic.entry.club.name
        %td=l partic.entry.birthdate
        - if !event.time_format
          %td
            =number_with_precision(partic.best_performance, :precision => 2)
            m
        - else
          %td
            = ChronicDuration.output(partic.best_performance, :format => :chrono) if partic.best_performance