Beste #{@user.name.split[0]},
===============================================
 
 Bedankt voor je aanmelding voor het NSK Baan,
 we hebben de volgende gegevens van je geregistreerd:
  
  =render @user
 
  Mochten vroeg of laat deze gegevens niet (meer) kloppen, dan kun je ze
  veranderen door op de bijgesloten link te klikken en in te loggen met
  je e-mailadres en wachtwoord: #{@url}

  Bedankt voor je inschrijving en tot op het NSK Baan!
  
  
  Dit is een geautomatiseerd bericht, Kegel zal niet op deze mails reageren