common: &common
  adapter: postgresql
  host: localhost
  port: 5432
  username: kronos
  password: 
  encoding: unicode

development:
  <<: *common
  database: inschrijf_development

test:
  <<: *common
  database: inschrijf_test

production:
  <<: *common
  database: inschrijf_production