%ul.entry
  %li
    %b
      =event_participation.event.name
      - if event_participation.best_performance
        = event_participation.best_performance
        =l event_participation.best_date
        te
        =event_participation.best_location
    