%ul
  - @colleges.each do |college|
    %ul
      =college.name
      = link_to 'verwijder', college, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{college.name}"
= link_to 'nieuw', new_college_path