<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft een verzoek ingediend om jouw wachtwoord opnieuw in te stellen, je kunt dat doen met onderstaande link</p>

<p><%= link_to 'Verander mijn wachtwoord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Als je dit niet hebt aangevraagd, kun je deze e-mail gerust negeren</p>
<p>Je wachtwoord zal niet veranderen, tenzij je op bovenstaande link klikt</p>
